.menu {
    max-width: 1000px;
    margin: auto;
    display: flex;

    a {
        padding: 10px 25px;
        display: block;
        font-weight: bold;
        font-size: 20px;
        &.active {
            background: #ddd;
        }
    }
    background: #ccc;
}