body, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.page {
    min-height: 600px;
    margin: 15px auto;
    max-width: 1000px;
    box-shadow: 0 0px 2px 2px #00000096;
    padding: 15px;
    box-sizing: border-box;
}